bin/
obj/
/packages/
riderModule.iml
/_ReSharper.Caches/
TestResults/
.idea/
*.sln.iml
*.DotSettings.user
*.log
*.tmp
*.bak
*.pid
*.cache
.DS_Store
Thumbs.db

**/bin/
**/obj/
**/.vs/
**/.idea/
**/*.user
**/*.suo
**/*.idea

.git
.gitignore
Dockerfile
docker-compose.yml
.env*
bin
obj
_tmp
.tmp
.out-tests
.vscode
.idea
*.user
*.suo
*.swp
tests/
