# .NET build output
**/bin/
**/obj/
**/TestResults/

# IDE / Rider / VS Code
.idea/
.vscode/
_ReSharper.Caches/
*.sln.iml
*.DotSettings.user

# User local files
*.user
*.suo
*.userprefs

# Temporary logs
*.log
*.tmp
*.bak
*.pid
*.cache

# OS junk
.DS_Store
Thumbs.db

# Local packages/ folder
packages/
